# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.venv
venv
.mypy_cache
.pytest_cache
.ruff_cache
*.egg-info
dist
build

# IDE
.idea
.vscode
*.swp
*.swo

# Project
.claude
data
tests
specs
deploy
docker-compose.yml
docker-compose.prod.yml
CLAUDE.md
deploy/*.md
.pre-commit-config.yaml
